<header id="header" class='{{title?"":"search_page"}} {{class_name}}'>
    <div class="content">
        <div class='major'>
            {% if not title and data %}
                <h2>Movie Search</h2>
                <p>Results Found: <b>{{data.total_results}}</b>. Search Term: <i class='search_terms'>{{query}}</i></p>
            {% else %}
                <h1>The Movie Searcher</h1>
                <p>Just a simple, Movie Database Searcher</p>
            {% endif %}
        </div>
        <form action="{{path('search_db')}}" method="post" class="actions search_frm" style='height:46px'>
            <input id='search_text' name="query" placeholder="Search Here" value="{{query}}"/> 
            <button class="button icon solid fa-search">
                Search
            </button>
        </form>
        {% if not title %}
            <a id='backbtn' href="{{path('root_page')}}" class="button icon solid fa-home">Back to Home</a>
        {% endif %}
    </div>
</header>