<!DOCTYPE HTML>
<html>
	<head>
		<title>The Movie Searcher {% block title %}{% endblock title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<link rel="stylesheet" href="{{asset('css/main.css')}}" />
		<link rel="stylesheet" href="{{asset('css/custom.css')}}" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
		<noscript><link rel="stylesheet" href="{{asset('css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
        {% block page %}
        {% endblock page %}
        {% include 'template/scripts.html.twig' %}
	</body>
</html>