<section id="one" class="wrapper style2 special">
    <header class="major">
        <h1>ERROR</h1>
        <h1>{{msg}}</h1>
    </header>
    {% if data %}
    <pre>
        {{ dump(data) }}
    </pre>
    {% endif %}
    <a id='backbtn' href="{{path('root_page')}}" class="button icon solid fa-home">Back to Home</a>
</section>