{% if per <10 %}
    {% set color='bad' %}
{% elseif per>=10 and per <60 %}
    {% set color='semibad' %}
{% elseif per>=60 and per <90 %}
    {% set color='ok' %}
{% else %}
    {% set color='good' %}
{% endif %}
<div class="svg_container">
    <svg viewBox="0 0 36 36" class="circular-chart {{color}}">
    <path class="circle-bg" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"></path>
    <path class="circle" stroke-dasharray="{{per}}, 100" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"></path>
    <text x="18" y="20.35" class="percentage">{{per}}%</text>
    </svg>
</div>