body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Montserrat', sans-serif;
}

.movie h3 {
    font-weight: bold;
    color: #3F729B;
    text-align: center;
}

.movie h3 span {
    display: block;
    font-size: 0.8em;
    color: #4a85b5;
}

.movie h3::after {
    display: block;
    border: solid 1px #3F729B;
    width: 40%;
    content: "";
    margin: auto;
    margin-top: 10px;
    border-radius: 6px;
}

#header button.button {
    height: 48px;
}

.search_frm input,
.search_frm button {
    display: inline-block;
    float: left;
}

.search_frm button {
    float: right;
}

input#search_text {
    background-color: rgba(255, 255, 255, 0.8);
    color: #3F729B;
    border: solid 2px rgb(109, 172, 234);
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 60%;
    margin-left: 1%;
}

#header {
    background-color: #3F729B;
}

#header.search_page {
    padding: 0px;
    min-height: 350px;
    padding-bottom: 10px;
    height: 42vh;
}

#header.search_page .content {
    margin-top: 10px;
}

.major::after {
    border: solid 2px rgba(255, 255, 255, 0.3);
    content: "";
    width: 50%;
    display: block;
    margin: 20px auto;
    border-radius: 6px;
}

#header p {
    margin: 0;
}

#header h2,
#header h1 {
    text-align: center;
    margin: 0;
}

.red,
#header.search_page.red {
    background-color: #ff4444;
}

.yellow,
#header.search_page.yellow {
    background-color: #ffbb33;
}

.green,
#header.search_page.green {
    background-color: #00C851;
}

.blue,
#header.search_page.blue {
    background-color: #33b5e5;
}


.image.fit.no_movie {
    font-size: 40px;
    text-align: center;
    padding: 40px;
    line-height: normal;
    color: #b0b0b0;
    height: 100%;
    background-image: url(images/overlay.png), url(images/pattern-size1.svg);
    background-color: #e0e0e0;
}

.image.fit.no_movie i {
    display: block;
    margin: auto;
}

.image.fit.no_movie i:before {
    font-size: 60px;
    text-align: center;
    display: block;
}

#backbtn {
    margin-top: 11px;
    margin: auto;
    display: block;
    clear: both;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.bad .circle {
    stroke: #ff4444;
}

.circular-chart.semibad .circle {
    stroke: #FF8800;
}

.circular-chart.ok .circle {
    stroke: #00C851;
}

.circular-chart.good .circle {
    stroke: #ffbb33;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

span.rating {
    float: left;
    width: 100px;
    height: 100px;
    display: block;
    background-color: white;
    margin-top: -10px;
}

.button.more_info {
    float: right;
    background-color: #3089e2;
}

section#nav_wrapper {
    padding: .5em;
    text-align: center;
    background-color: #3089e2;
    border: solid 1px #3f729b;
    height: 70px;
}

a.button.icon.solid.primary.home_btn {
    background-color: #3f729b;
    float: right;
}

a.button.icon.solid.primary.back_btn {
    background-color: #5c91bc;
    float: left;
}

.btns_wrap {
    width: 80%;
    margin: auto;
    clear: both;
}

.actions_links {
    margin-top: 10px;
}

.sort_form {
    background-color: #e0e0e0;
    padding: 20px;
    border: solid 1px #b0b0b0;
    color: #222;
}


.sort_form form {
    width: 80%;
    margin: auto;
}
