<section class="wrapper movie">
    <div class="inner alt">
        <section id="{{movie.id}}" class="row">
            <div class="col-4">
                {% if movie.poster_path %}
                    <div class="image fit">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}" />
                    </div>
                {% else %}
                    <div class="image fit no_movie">
                        No Poster Availible
                        <i class="fas fa-film"></i>
                    </div>
                {% endif %}
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        {% if movie.vote_average*10 > 0 %}
                            <span class='rating'>
                                {{ include('pages/percent.svg.twig',{per:(movie.vote_average*10)}) }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <h3>{{movie.title}}
                        {% if movie.release_date is defined %}
                            <span class='year'>{{movie.release_date | date("M Y")}}</span>
                        {% endif %}
                        </h3>
                    </div>
                </div>
                <p>
                    {{movie.overview}}
                </p>
                <a href='{{path('movie_info',{id:movie.id})}}' class='button icon primary solid more_info'>
                    View More
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </section>
    </div>
</section>