{% extends 'pages/base.html.twig' %}

{% block title %}{{movie.title}}
{% endblock title %}
{% block page %}
{% if movie.backdrop_path %}
<header id="header" style='background-image:url("https://image.tmdb.org/t/p/original{{movie.backdrop_path}}");background-size: 100%;'>
{% else %}
<header id="header">
{% endif %}
    <div class="content">
        <h1>{{movie.title}}</h1>
        <p>{{movie.overview}}</p>
    </div>
</header>
<section id="nav_wrapper" class="wrapper">
    <div class="btns_wrap">
        <a class="button icon solid primary back_btn fa-chevron-left" href="javascript:window.history.back();">Go Back</a>
        <a class="button icon solid primary home_btn fa-home" href="{{path("root_page")}}">Home</a>
    </div>
</section>
<section id="three" class="wrapper style2 special">
    <header class="major">
        <h2>{{movie.title}}</h2>
        <p>{{movie.runtime}}Mins, Genres:{{movie.genres|column('name')|join(",")}}</p>
    </header>
    <h3>Links</h3>
    <div class="actions special">
        {% if movie.imdb_id %}
            <div class='actions_links'>View IMDB Here: <a href="https://www.imdb.com/title/{{movie.imdb_id}}/" class="button" target="_blank">Learn More</a></div>
        {% endif %}
        {% if movie.homepage %}
            <div class='actions_links'>Website <a href="{{movie.homepage}}" class="button" target="_blank">{{movie.homepage}}</a></div>
        {% endif %}
    </div>
</section>
<section id="four" class="wrapper">
	<div class="inner">
		<header class="major">
			<h2>Stats</h2>
		</header>
		<section>
		    <h3>Rating</h3>
		    <span class='rating' style='float:none'>
                {{ include('pages/percent.svg.twig',{per:(movie.vote_average*10)}) }}
            </span>

            <h3>Production</h3>
    	    {% for pro in movie.production_companies %}
                <ul>
                    <li>{{pro.name}}</li>
                    {% if pro.logo_path %}
                        <li><img src='https://image.tmdb.org/t/p/w200/{{pro.logo_path}}'></li>
                    {% endif %}
                </ul>
            {% endfor %}
            <h3>About</h3>
            
            <div class="table-wrapper">
            <table>
            <tbody>
            <tr>
                <th>Budget</th>
                <td>{{movie.budget}}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{movie.original_language}}</td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td>{{movie.release_date}}</td>
            </tr>
            <tr>
                <th>Revenue</th>
                <td>{{movie.revenue}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{movie.status}}</td>
            </tr>
            <tr>
                <th>Vote Average</th>
                <td>{{movie.vote_average}}/10</td>
            </tr>
            <tr>
                <th>Votes Total</th>
                <td>{{movie.vote_count}}</td>
            </tr>
            </tbody>
            </table>
            </div>
		</section>
	</div>
</section>
{% endblock %}